<h2 mat-dialog-title>Dodaj novo pitanje</h2>
<mat-dialog-content class="container">
    <textarea class="row" rows="2" cols="50" [(ngModel)]="model.questionQuestion">

    </textarea>
    <textarea class="row" rows="10" cols="50" [(ngModel)]="model.questionText">

    </textarea>
    <textarea class="row" rows="4" cols="50" [(ngModel)]="model.questionAnswer">

    </textarea>
    <textarea class="row" rows="1" cols="50" [(ngModel)]="model.answer">

    </textarea>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="save()">Dodaj</button>
    <button mat-button mat-dialog-close>Odustani</button>
</mat-dialog-actions>
