<div>
    <form action="/action_page.php">
        <div>
            <button mat-raised-button (click)="openDialog()">Dodaj novi test</button>
            <ul class="list-group" *ngFor="let test of tests">               
                <a href="/tests/{{test.name}}" class="list-group-item list-group-item-action text-center">{{test.name}}</a>
                <button mat-raised-button (click)="addQuestion(test.name)">
                    Dodaj pitanje
                </button>
            </ul>
        </div>
    </form>
</div>