<div>
    <form action="/action_page.php">
        <!--
            <div class="form-group">
            <label for="usr">Naziv testa:</label>
            <input type="text" class="form-control" id="usr">
            </div>
            <button type="button" class="btn btn-primary">Dodaj test</button>
        -->
        <!-- Button to Open the Modal -->
        <button mat-raised-button (click)="openDialog()">
            Open modal
        </button>

        <div>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                   <mat-panel-title>
                      Personal data
                   </mat-panel-title>
                   <mat-panel-description>
                      Type name and age
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <code id="pre">
                    public function {{ '{' }} <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;test; <br>
                    {{'}'}}
                </code>
                <mat-action-row>
                    <button class="btn btn-default">Button</button>
                </mat-action-row>
             </mat-expansion-panel>
        </div>
      </form>
</div>